body {
    font-family: Arial, sans-serif;
}

#blog-container {
    width: 80%;
    margin: auto;
}
#blog-container div
{
    background-color: rgb(221, 220, 220);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}